@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html, body {
    max-width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.side-bar {
    background: white;
    min-height: 100vh;
    max-height: 100vh;
}

.side-bar a {
    color: black;
    background-color: transparent;
    text-decoration: none;
 }

 .header .logo{
    height: 75px;
    padding-right: 40px;
 }
 .logo img {
     width: 180px;
     height: 100px;
 }
 .navbar-sidebar {
     padding: 35px;
     border: 1px solid #e6eaee;
     border-radius: 5px;
 }
 .navbar-sidebar li {
    padding: 10px;
    border-bottom: 1px solid #e6eaee;
}
.content{
    background: #edeff5;
    height: 100%;
}
.no-padding{
    padding-right: 0 !important;
    padding-left : 0 !important;
}
.main-content {
    padding: 40px;
}
.fa, .fas {
    font-weight: 900;
    padding-right: 7px;
}

.box{
    border-radius: 18px;
    background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
}
.most-visted {
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}
.revenue {
    background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}
.weelely {
    background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
}
.overview_inner{
    padding: 20px;
    text-align: center;
}
.overview_inner .text{
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 25px;
}
.overview_inner .icon{
    display: inline-block;
    color: white;
    font-size: 40px;

}
.canvas{
    text-align: center;
}

.header{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #ffffff;
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.1);
    border-bottom: 1px solid #e2ebf7;
}

.search-bar {
    margin: 0px 0 0 45px;
    display: flex;
     align-items: baseline;
}
.form-input {
    line-height: 43px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666;
    padding: 0 10px;
    border-radius: 3px;
    width: 300px;
}
.search-icon{
    background: #4272d7;
    color: white;
    padding: 9px 19px;
    margin: -4px;
}
.user-notfication {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    direction: rtl;
    align-items: center;
}
ul.user-notfication li i {
    padding: 20px;
    font-size: 26px;
    color: gray;
}
.user-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}
.user-name {
    font-weight: 700;
    padding-left: 13px;
}
ul.notification-icons {
    display: flex;
}
ul.notification-icons > li {
    padding-right: 25px;
}
table th {
    width:  150px;
    height: 10px;
    border: 1px solid #ddd;
}
table tr:nth-of-type(even) {
    background-color: #f5f5f5;
}
table th , tr , td {
    border-collapse: collapse;
    border: 1px solid #ddd;
    vertical-align: baseline;
    padding: 8px;

}
table {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 100%;
    background: white;
}
.data-section{
    margin-top: 20px;
    padding: 20px;
    background: white;
}
.top-countries {
    background: #2949fe;
    padding: 30px;
    border-radius: 10px;
}
.top-countries ul li{
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid;
    text-align: center;
    color: white;
    justify-content: space-between;
    padding: 10px;
}
.top-countries ul li h6{
    font-size: 14px;
}
form {
    display: flex;
    flex-direction: column;
}
form input {
    display: inline-block;
}



.product-page {
    /* background: #edeff5; */
    /* padding: 60px; */
    padding-top: 25px;
}
.productImage p {
    display: inline;
    padding-left: 10px;
}
.productImage {
    padding: 0;
    /* width: 100%; */
}
.teacher {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #00000024;
}
.teacher-details {
    flex: .9;
}

.rating {
    display: inline;
}

li.teacher img {
    border-radius: 6px;
    width: 100px;
    height: 100px;
}
.teacher .tilte {
    font-weight: 700;
}
a.button {
    float: right;
    clear: both;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
a.button:hover {
    color: white;
    text-decoration: none;
  }


h5.price {
    float: right;
}
ul.all-teachers {
    padding: 10px;
}

.checkbox-btn {
    direction: rtl;
}
label.checkbox-btn input {
    margin: 10px;
    vertical-align: middle;
    height: 15px;
    width: 15px;
}
.streamer {
    display: block;
    border: 2px solid black;
}
